body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul[class],
ol[class] {
  list-style: none;
}


.content {
  display: grid;

  grid-template-areas:
    "header header"
    "nav mainContent";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 20px;
}


.content__main {
  grid-area: mainContent;
  background-color: #9d3636;
}

